/* Add CSS Styling */

.first{
    background-color: black;
    color: white;
}

.second{
    background-color: yellowgreen;
}

.element{
    font-size: 28px;
    font-family: Helvetica, 'Time New Roman', sans-serif;
}
